body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #6ac46a;
    margin: 0;
}

.bear {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 240px;
    height: 240px;
    background-color: #8b5e3b;
    border-radius: 80%;
    position: relative;
}

.bear::before, .bear::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #8b5e3b;
    border-radius: 50%;
    top: -40px;
}


.bear::before {
    left: -30px;
}

.bear::after {
    right: -30px;
}

/* Parte blanca dentro de las orejas Son clippath*/
.bear::before {
    background: radial-gradient(circle at center, white 40%, #8b5e3b 41%);
}

.bear::after {
    background: radial-gradient(circle at center, white 40%, #8b5e3b 41%);
}



.muzzle {
    width: 120px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.nose {
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.eye {
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 50px;
}

.eye.left {
    left: 60px;
}

.eye.right {
    right: 60px;
}
